<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>请销假</title>
    <link rel="stylesheet" th:href="@{/css/preview-article.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <div th:replace="~{/student/common::common-css}"></div>
    <script th:src="@{/js/My97DatePicker/WdatePicker.js}" type="text/javascript"></script>
    <style>
        .container {
            width: 1000px;
            margin: auto;
            position: relative;
        }
    </style>
</head>
<body>
<div th:replace="~{/student/common::header}" class="header"></div>
<!--内容区域开始-->
<div class="container" style="min-height: 650px;">
    <div class="row-fluid">
        <div class="span12">
            <form class="form-horizontal adminex-form" method="get" onsubmit="return false">
                <label class="col-sm-1 control-label"></label>
                <legend>修改请假信息</legend>
                <hr>
                <br>
                <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">学号</label>
                    <div class="col-sm-8">
                        <input readonly id="studentNum" type="text" th:value="${leave.studentNum}"
                               name="studentNum" class="form-control">
                        <div class="col-sm-2 col-sm-2 control-label"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">开始时间</label>
                    <div class="col-sm-8">
                        <input readonly class="form-control" type="text" name="startTime"
                               id="startTime" th:value="${#dates.format(leave.startTime, 'yyyy-MM-dd')}"
                               onclick="WdatePicker({isShowClear:false,readOnly:true})">
                    </div>
                    <div class="col-sm-2 col-sm-2 control-label"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">结束时间</label>
                    <div class="col-sm-8">
                        <input readonly class="form-control" type="text" name="endTime"
                               id="endTime" th:value="${#dates.format(leave.endTime, 'yyyy-MM-dd')}"
                               onclick="WdatePicker({isShowClear:false,readOnly:true})">
                    </div>
                    <div class="col-sm-2 col-sm-2 control-label"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">请假理由</label>
                    <div class="col-sm-8">
                        <input type="text" id="reason" th:value="${leave.reason}" name="reason"
                               class="form-control">
                    </div>
                    <div class="col-sm-2 col-sm-2 control-label"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label"></label>
                    <div class="col-sm-8">
                        <button class="btn btn-info" id="leaveUpdateBtn">&nbsp;&nbsp;&nbsp;修&nbsp;&nbsp;改&nbsp;&nbsp;&nbsp;</button>
                    </div>
                    <div class="col-sm-2 col-sm-2 control-label"></div>
                </div>
            </form>
        </div>
    </div>
</div>
<!--内容区域结束-->
<input type="hidden" name="id" id="id" th:value="${leave.id}">
<div class="banner-shadow"></div>

<div class="footer">
    <p>Copyright &copy; 2021 JUST All rights reserved.</p>
</div>
<div th:replace="~{/student/common::common-script}"></div>
<script>
    let ee = $("tr");
    for (var i = 1; i < ee.length; i++) {
        var s = ee.eq(i).attr("state")
        if (s === "未通过") {
            ee.eq(i).attr("class", "warning");
        } else if (s === "待审批") {
            ee.eq(i).attr("class", "info");
        } else if (s === "审批通过") {
            ee.eq(i).attr("class", "success");
        }
    }
    $("#leaveUpdateBtn").click(function () {
        let id = $("#id").val();
        let studentNum = $("#studentNum").val();
        let reason = $("#reason").val();
        let startTime = $("#startTime").val();
        let endTime = $("#endTime").val();
        if (confirm("是否确认修改？")) {
            $.post("/student/update_leave", {
                id: id,
                studentNum: studentNum,
                reason: reason,
                startTime: startTime,
                endTime: endTime
            }, function (data) {
                if (data === "true") {
                    alert("修改成功");
                    window.location.href = "/student/leaveList";
                } else {
                    alert("修改失败");
                }
            })
        }
    })


</script>
</body>
</html>