<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>惩罚明细</title>
    <link rel="stylesheet" th:href="@{/css/preview-article.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <div th:replace="~{/student/common::common-css}"></div>
    <style>
        .container {
            width: 1000px;
            margin: auto;
            position: relative;
        }
        tr,td{
            vertical-align: middle!important;
        }
    </style>
</head>
<body>
<div th:replace="~{/student/common::header}" class="header"></div>
<!--内容区域开始-->
<div class="container" style="min-height: 650px">
    <div class="row-fluid">
        <legend>惩罚明细</legend>
        <hr>
        <a class="btn btn-info" th:href="@{/student/rewardList}">返回</a>
        <div class="span12">
            <div class="form-group">
                <div class="col-sm-8">
                    <div class="col-sm-2 col-sm-2 control-label"></div>
                </div>
            </div>
            <br>
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                <tr>
                    <th>序号</th>
                    <th>学号</th>
                    <th>姓名</th>
                    <th>惩罚原因</th>
                    <th>处分决定</th>
                </tr>
                </tr>
                </thead>
                <tbody>
                <tr th:each="punish:${punishList}" style="height: 51px" >
                    <td th:text="${punishStat.count}"></td>
                    <td th:text="${session.loginUser.studentNum}"></td>
                    <td th:text="${session.loginUser.name}"></td>
                    <td th:text="${punish.content}"></td>
                    <td th:text="${punish.state}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--内容区域结束-->
<div class="banner-shadow"></div>
<div class="footer">
    <p>Copyright &copy; 2021 JUST All rights reserved.</p>
</div>
<div th:replace="~{/student/common::common-script}"></div>

</body>
</html>