<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>班费管理</title>
    <!--公共css开始-->
    <div th:replace="~{/teacher/common/common::common-css}"></div>
    <!--公共css结束-->
</head>

<body class="sticky-header">

<section>
    <!--左侧公共部分开始-->
    <div th:replace="~{/teacher/common/common::left-nav}" class="left-side sticky-left-side"></div>
    <!--左侧公共部分结束-->
    <!-- main content start-->
    <div class="main-content">
        <!-- 头部公共部分抽取开始-->
        <div th:replace="~{/teacher/common/common::top-nav}"></div>
        <!-- 头部公共部分抽取结束-->
        <div class="wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                            班费管理
                        </header>
                        <div class="panel-body">
                            <div  th:if="${session.loginUser.manageMajor!='0'}">
                                <button class="btn btn-info"
                                        data-toggle="modal"
                                        data-target="#myModal"
                                        id="addPay"
                                        th:if="${session.loginUser.manageMajor!=0}">
                                    新增收费
                                </button>
                                <br>
                                <br>
                                <span style="font-weight: 700; font-size: 24px;"
                                      th:if="${session.loginUser.manageMajor!='0'}"
                                      th:text="'余额：'+${account.account}+'元'"></span>
                                <input th:if="${session.loginUser.manageMajor!='0'}"
                                       type="hidden" id="account" name="account" th:value="${account.account}">
                                &nbsp;&nbsp;&nbsp;
                                <button th:if="${session.loginUser.manageMajor!='0'}"
                                        class="btn btn-search"
                                        data-toggle="modal"
                                        data-target="#myModal"
                                        id="withdrawBtn">提现
                                </button>
                            </div>
                            <div class="adv-table">
                                <table class="display table table-bordered table-striped" id="dynamic-table">
                                    <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th>专业</th>
                                        <th>收款主题</th>
                                        <th>金额</th>
                                        <th>缴费明细</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr style="height: 55px;vertical-align: center!important;"
                                        th:each="classFund:${classFundLists}">
                                        <td th:text="${classFundStat.count}"></td>
                                        <td th:text="${classFund.major}"></td>
                                        <td th:text="${classFund.title}"></td>
                                        <td th:text="${classFund.money}"></td>
                                        <td>
                                            <a th:href="@{/teacher/fundDetail/{fundDetailId}(fundDetailId=${classFund.id})}">
                                                点击查看缴费明细
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <!--        modal-->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close modal_hide" data-dismiss="modal" aria-hidden="true">&times;
                        </button>
                        <h4 class="modal-title" id="modalTitle">新增收费</h4>
                    </div>

                    <div class="modal-body row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label id="title1" for="title">收款主题：</label>
                                <input id="title" name="title" class="form-control"/>
                            </div>
                            <div class="form-group" th:id="accountNameBox" style="display: none">
                                <label for="accountName">支付宝姓名：</label>
                                <input id="accountName" name="title" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label for="money">金额：</label>
                                <input id="money" name="money" class="form-control"/>
                            </div>
                            <div class="pull-right">
                                <button class="btn btn-danger btn-sm modal_hide" type="button" data-dismiss="modal"
                                        aria-hidden="true">取消
                                </button>
                                <button class="btn btn-success btn-sm" id="addBtn" type="button">确定</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--modal end-->
    </div>
</section>
<div th:replace="~{/teacher/common/common::common-script}"></div>
<!--dynamic table-->
<script type="text/javascript" th:src="@{/js/advanced-datatable/js/jquery.dataTables.js}"></script>
<script type="text/javascript" th:src="@{/js/data-tables/DT_bootstrap.js}"></script>
<!--dynamic table initialization-->
<script th:src="@{/js/dynamic_table_init.js}"></script>
<script>
    $(function () {
        $("#dynamic-table_filter").hide();
    })

    $(".modal_hide").click(function () {
        $("#refuseReason").val("");
    })

    $("#addPay").click(function () {
        $("#accountNameBox").css("display", "none");
        $("#modalTitle").text("新增收费");
        $("#title1").text("收款主题：")
        $("#title").val("");
        $("#money").val("");
    })

    $("#withdrawBtn").click(function () {
        $("#accountNameBox").css("display", "block")
        $("#modalTitle").text("提现");
        $("#title1").text("提现账户：");
        $("#title").val("");
        $("#money").val("");
    })

    function judgeMoney(money) {
        var reg = /(^[1-9]([0-9]+)?(\.[0-9]{1,2})?$)|(^(0){1}$)|(^[0-9]\.[0-9]([0-9])?$)/;
        return reg.test(money);
    }

    $("#addBtn").click(function () {
        if ($("#modalTitle").text() === "新增收费") {
            let title = $("#title").val();
            let money = $("#money").val();
            if (title === "" && money === "") {
                alert("信息填写不完整");
                return;
            }
            if (!judgeMoney(money)) {
                alert("金额格式错误");
                return;
            }

            $.post("/teacher/addFundList",
                {
                    title: title,
                    money: money
                },
                function (data, status) {
                    if (data === "true") {
                        alert("添加成功！")
                        window.location.reload();
                    } else {
                        alert("添加失败!")
                    }
                });
        } else if ($("#modalTitle").text() === "提现") {
            let alipayAccount = $("#title").val();
            let name = $("#accountName").val();
            let money = $("#money").val();
            $.post("/teacher/withdraw",
                {
                    alipayAccount: alipayAccount,
                    name: name,
                    money: money
                },
                function (data, status) {
                    if (data === "true") {
                        alert("提现成功！")
                        window.location.reload();
                    } else {
                        alert("提现失败!")
                    }
                }
            )
        }

    })

</script>
</body>
</html>
