<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>更新奖励申请信息</title>
    <!--公共css开始-->
    <div th:replace="~{/teacher/common/common::common-css}"></div>
    <!--公共css结束-->
    <script th:src="@{/js/My97DatePicker/WdatePicker.js}" type="text/javascript"></script>
</head>

<body class="sticky-header">

<section>
    <!--左侧公共部分开始-->
    <div th:replace="~{/teacher/common/common::left-nav}" class="left-side sticky-left-side"></div>
    <!--左侧公共部分结束-->
    <!-- main content start-->
    <div class="main-content">
        <!-- 头部公共部分抽取开始-->
        <div th:replace="~{/teacher/common/common::top-nav}"></div>
        <!-- 头部公共部分抽取结束-->
        <!--body wrapper start-->
        <div class="wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                            修改奖励申请
                        </header>
                        <div class="panel-body">
                            <form action="" method="POST" onsubmit="return false;">
                                <div class="form-group">
                                    <label for="name">申请奖励名称：</label>
                                    <input th:value="${reward.name}" class="form-control" type="text" id="name"
                                           name="name">
                                </div>
                                <div class="form-group">
                                    <label for="gpa">最低绩点要求：</label>
                                    <input th:value="${reward.gpa}" class="form-control" name="gpa" id="gpa" type=text
                                           t_value="" o_value=""
                                           onkeypress="if(!this.value.match(/^\d*?\.?\d*?$/))this.value=this.t_value;else this.t_value=this.value;if(this.value.match(/^(?:\d+(?:\.\d+)?)?$/))this.o_value=this.value"
                                           onkeyup="if(!this.value.match(/^\d*?\.?\d*?$/))this.value=this.t_value;else this.t_value=this.value;if(this.value.match(/^(?:\d+(?:\.\d+)?)?$/))this.o_value=this.value"
                                           onblur="if(!this.value.match(/^(?:\d+(?:\.\d+)?|\.\d*?)?$/))this.value=this.o_value;else{if(this.value.match(/^\.\d+$/))this.value=0+this.value;if(this.value.match(/^\.$/))this.value=0;this.o_value=this.value}">

                                    <!--                                    <input class="form-control" name="gpa" id="gpa">-->
                                </div>
                                <div class="form-group">
                                    <label for="startTime">申请开始时间：</label>
                                    <input th:value="${#dates.format(reward.startTime, 'yyyy-MM-dd')}" readonly
                                           class="form-control" type="text" name="startTime"
                                           id="startTime"
                                           onclick="WdatePicker({isShowClear:false,readOnly:true})">
                                </div>
                                <div class="form-group">
                                    <label for="endTime">申请结束时间：</label>
                                    <input th:value="${#dates.format(reward.endTime, 'yyyy-MM-dd')}" readonly
                                           class="form-control" type="text" name="endTime"
                                           id="endTime"
                                           onclick="WdatePicker({isShowClear:false,readOnly:true})">
                                </div>
                                <div class="form-group">
                                    <label for="explain" class="control-label">奖励申请说明：</label>
                                    <div>
                                        <textarea th:text="${reward.explain}" id="explain" name="explain" rows="6"
                                                  class="form-control"></textarea>
                                    </div>
                                </div>

                                <button type="button" id="rewordSubmit" class="btn btn-primary">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;修改&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <!--body wrapper end-->
    </div>
</section>
<input type="hidden" name="id" id="id" th:value="${reward.id}">

<div th:replace="~{/teacher/common/common::common-script}"></div>
<script>
    $("#rewordSubmit").click(function () {
        let id = $("#id").val();
        let name = $("#name").val();
        let gpa = $("#gpa").val();
        let startTime = $("#startTime").val();
        let endTime = $("#endTime").val();
        let explain = $("#explain").val();
        if (id === "" || name === "" || startTime === "" || endTime === "" || explain === "") {
            alert("信息填写不完整");
        } else {
            if (confirm("是否确认修改？")) {
                $.post("/teacher/rewardListUpdate",
                    {
                        id: id,
                        name: name,
                        gpa: gpa,
                        startTime: startTime,
                        endTime: endTime,
                        explain: explain
                    },
                    function (data, status) {
                        if (data === "true") {
                            alert("修改成功");
                            window.location.href = "/teacher/rewardManage";
                        } else {
                            alert("修改失败");
                        }
                    }
                )
            }
        }

    })
</script>
</body>
</html>
