<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>教室预约审核</title>
    <!--公共css开始-->
    <div th:replace="~{/teacher/common/common::common-css}"></div>
    <!--公共css结束-->
</head>

<body class="sticky-header">

<section>
    <!--左侧公共部分开始-->
    <div th:replace="~{/teacher/common/common::left-nav}" class="left-side sticky-left-side"></div>
    <!--左侧公共部分结束-->
    <!-- main content start-->
    <div class="main-content">
        <!-- 头部公共部分抽取开始-->
        <div th:replace="~{/teacher/common/common::top-nav}"></div>
        <!-- 头部公共部分抽取结束-->
        <div class="wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                            教室预约审核
                        </header>
                        <div class="panel-body">
                            <select name="stateFilter" id="stateFilter">
                                <option th:selected="${status==0?'true':'false'}" value="0">待审核</option>
                                <option th:selected="${status==1?'true':'false'}" value="1" autofocus>审核通过</option>
                                <option th:selected="${status==2?'true':'false'}" value="2" autofocus>驳回</option>
                                <option th:selected="${status==3?'true':'false'}" value="3" autofocus>撤销</option>
                                <option th:selected="${status==4?'true':'false'}" value="4" autofocus>不筛选</option>
                            </select>
                            <div class="adv-table">
                                <table class="display table table-bordered table-striped" id="dynamic-table">
                                    <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th>专业</th>
                                        <th>楼号</th>
                                        <th>教室号</th>
                                        <th>预约时间段</th>
                                        <th>预约人</th>
                                        <th>预约时间</th>
                                        <th>预约状态</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="classOrderDetail:${classOrderDetailList}">
                                        <td th:text="${classOrderDetailStat.count}"></td>
                                        <td th:text="${classOrderDetail.orderMajor}"></td>
                                        <td th:text="${buildingNameList.get(classOrderDetailStat.count-1)}"></td>
                                        <td th:text="${classroomNameList.get(classOrderDetailStat.count-1)}"></td>
                                        <td th:text="${classOrderDetail.orderTime}"></td>
                                        <td th:text="${classOrderDetail.orderUser}"></td>
                                        <td th:text="${#dates.format(classOrderDetail.updateTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                        <td th:text="${classOrderDetail.status}"></td>
                                        <td style="width: 200px">
                                            <button th:if="${classOrderDetail.status=='待审核'}"
                                                    th:orderId = "${classOrderDetail.id}"
                                                    class="btn btn-success acceptBtn">
                                                同意
                                            </button>
                                            <button th:if="${classOrderDetail.status=='待审核'}"
                                                    th:orderId = "${classOrderDetail.id}"
                                                    class="btn btn-danger refuseBtn">
                                                驳回
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>
<div th:replace="~{/teacher/common/common::common-script}"></div>
<!--dynamic table-->
<script type="text/javascript" th:src="@{/js/advanced-datatable/js/jquery.dataTables.js}"></script>
<script type="text/javascript" th:src="@{/js/data-tables/DT_bootstrap.js}"></script>
<!--dynamic table initialization-->
<script th:src="@{/js/dynamic_table_init.js}"></script>
<script>
    $(function () {
        $("#dynamic-table_filter").hide();
    })

    $(".acceptBtn").click(function () {
        if (confirm("是否确认？")) {
            let orderId = $(this).attr("orderId");
            $.post("/teacher/acceptOrder",
                {
                    id: orderId
                },
                function (data, status) {
                    if (data === "true") {
                        alert("同意成功！")
                        window.location.reload()
                    } else {
                        alert("同意失败!")
                    }
                });
        }
    })

    $(".refuseBtn").click(function (){
        let orderId = $(this).attr("orderId");
        if(confirm("是否确认驳回？")){
            $.post("/teacher/refuseOrder",
                {
                    id: orderId
                },
                function (data, status) {
                    if (data === "true") {
                        alert("驳回成功！")
                        window.location.reload()
                    } else {
                        alert("驳回失败!")
                    }
                });
        }
    })
    $("#stateFilter").change(function () {
        let options = $("#stateFilter option:selected");
        window.location.href = "/teacher/orderDetail?status=" + options.val();
    })
</script>
</body>
</html>
