<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="club.justca.studentmanager.mapper.ClassroomMapper">

    <select id="findAll" resultType="classroom">
        SELECT *
        FROM `classroom`;
    </select>

    <select id="findByBuildingId" resultType="classroom">
        SELECT *
        from `classroom`
        where building_id = #{buildingId}
    </select>


    <select id="findById" resultType="classroom">
        SELECT *
        from `classroom`
        where id = #{id}
    </select>

    <update id="update" parameterType="classroom">
        UPDATE `classroom`
        SET building_id    = #{buildingId},
            floor          = #{floor},
            classroom_name = #{classroomName},
            people_num     = #{peopleNum},
            order_time     = #{orderTime}
        WHERE id = #{id}
    </update>

    <insert id="insert" parameterType="classroom">
        INSERT INTO `classroom`(id, building_id, floor, classroom_name, people_num, order_time)
        values (NULL, #{buildingId}, #{floor}, #{classroomName}, #{peopleNum}, #{orderTime})
    </insert>

    <delete id="deleteById">
        DELETE
        FROM classroom
        WHERE id = #{id}
    </delete>

</mapper>
